html { 
  height: 100%;
  margin: 0;
}

body {
	margin: 0;
	background: white;
	font-weight: 300;
  height: 100%;
}

p,a,h1,h2,h3 {
  color:BLACK;
  text-decoration:none;

}
/*
*---------------------------------------
* container for the nav bar.
*---------------------------------------
*/
.container {
	width: 80%;
	margin: 0 auto;
}


/*
*---------------------------------------
* Login container
*---------------------------------------
*/
.login-container {
  float:right;
}

input{
  padding:5px;
  margin-top:20px;
  font-size:14px;
  border:none;
  width:130px;
  border-radius:15px;
}
button {
  float:right;
  padding:5px 10px;
  margin-top:20px;
  margin-right:4px;
  margin-left:5px;
  background:grey;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  border:none;
  cursor:pointer;
  border-radius:15px;
}

/*
*---------------------------------------
* everything with nav bar here.
*---------------------------------------
*/
header {
  background: #F8F5F1;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0 0 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}
/*
*---------------------------------------
* makes the nav items uppercase.
*---------------------------------------
*/
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/*
*---------------------------------------
* color of nav items when hovering.
*---------------------------------------
*/
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


/*
*---------------------------------------
* main content wrapper
*---------------------------------------
*/
.mainWrapper {
  min-height: 100%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
  margin-left:15%;
  border-radius:15px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
  border-radius:15px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #F8F5F1;
  padding: 20px;
  margin-top: 20px;
  border-radius:15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  position: relative;
  height: 10px;
  margin-left: 47%;
  clear: both;
  color: BLACK;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

