body {
	margin: 0;
	background: #222;
	font-weight: 300;
}
/*
*---------------------------------------
* container for the nav bar.
*---------------------------------------
*/
.container {
	width: 80%;
	margin: 0 auto;
}
/*
*---------------------------------------
* everything with nav bar here.
*---------------------------------------
*/
header{
	background: #55d6aa;
}

.logo {
	float: left;
	padding: 0px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 60px;
	padding-top: 60px;
	position: relative;
}
/*
*---------------------------------------
* makes the nav items uppercase.
*---------------------------------------
*/
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
/*
*---------------------------------------
* color of nav items when hovering.
*---------------------------------------
*/
nav a:hover {
	color: #000;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

/*
*---------------------------------------
* dropdown button for the categories tab.
*---------------------------------------
*/
li a, .dropbtn {
  display: inline-block;
  color: #444;
  text-align: left;
  text-decoration: none;
}

li a.dropdown:hover .dropbtn {
  background-color: #444;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #55d6aa;
  padding: 10px;
  text-decoration: none;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/*
*---------------------------------------
* container for the featured box.
*---------------------------------------
*/

#topContainer{
	width: auto;
    margin: auto;
}

/*
*---------------------------------------
* the actual feature box.
*---------------------------------------
*/
.featureBox {
  font-family: arial;
  border: 1px solid red ;
  width: 45%;
  background-color: #55d6aa; 
  border-radius: 5px;
  /*box-shadow: 5px 6px #808080 ;*/
  margin: 20px;
  margin-left:auto;
  margin-right:10;
  float: right;

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;
}
/*
*---------------------------------------
* this is the slogan text that is to the
* left of the featured box.
*---------------------------------------
*/
.sloganBox {
  font-family: arial;
  width: 40%;
  margin: 30px;
  margin-right:auto;
  margin-left:5%;
  padding-top: 5%;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;
}

/*
*--------------------------------------------
* This is the category boxes at the bottom of
* the page, there is a container, and items.
* the flex allows the items to go or shrink
* based on window size.
*--------------------------------------------

.catContainer {
	padding: 5px;
	margin-left: 0;
  	list-style: none;
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-flow: nowrap;
  	justify-content: space-around;
}

.catBox {
	background: #f98b03;
  	border-radius: 25px;
  	padding: 20px;
  	padding-left: 10px;
  	width: 600px;
  	height: 150px;
  	margin: 10px;
  	margin-top: 50vh;
  	line-height: 135px;
  	color: #444;
  	font-size: 16px;
  	text-align: center;
}
*/



/*
*---------------------------------------
* footer that contains copyright info
*---------------------------------------
*/
footer {
	position: absolute;
	bottom: 50px;
	left: 850px;
	color: WHITE;
}