body {
	margin: 0;
	background: #222;
	font-weight: 300;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header{
	background: #55d6aa;
}

.logo {
	float: left;
	padding: 0px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 60px;

	position: relative;
}

nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: #000;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

footer {
	position: absolute;
	bottom: 50px;
	left: 850px;
	color: WHITE;
}


#topContainer{
   width: auto;
    margin: auto;
}

.featureBox {
  font-family: arial;
  border: 1px solid red ;
  width: 45%;
  background-color: #0ccc79 ;
  border-radius: 5px ;
  /*box-shadow: 5px 6px #808080 ;*/
  margin: 20px;
  margin-left:auto;
  margin-right:10;
  float: right;

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;
}

.sloganBox {
  font-family: arial;
  width: 40%;
  margin: 30px;
  margin-right:auto;
  margin-left:5%;
  padding-top: 5%;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none;
}