html { /*adjusted for sticky footer*/
  height: 100%;
  margin: 0;
}

body {
	margin: 0;
	background: #293133;
  /*background-image: linear-gradient(#FF8000, red);*/
	font-weight: 300;
  height: 100%;
}

/*
*---------------------------------------
* container for the nav bar.
*---------------------------------------
*/
.container {
	width: 80%;
	margin: 0 auto;
}
/*
*---------------------------------------
* everything with nav bar here.
*---------------------------------------
*/
header{
	background: #FF8000;
	font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
	font-size: 32px;
 	padding: 30px;
}

.logo {
	float: left;
	padding: 0px;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 30px;
	position: relative;
}
/*
*---------------------------------------
* makes the nav items uppercase.
*---------------------------------------
*/
nav a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
/*
*---------------------------------------
* color of nav items when hovering.
*---------------------------------------
*/
nav a:hover {
	color: #444;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

footer {
   position: relative;
    height: 10px;
    margin-left: 47%;
    clear: both;
	color: WHITE;
}

/*
*---------------------------------------
* dropdown button for the categories tab.
*---------------------------------------
*/
li a, .dropbtn {
  display: inline-block;
  color: #444;
  text-align: left;
  text-decoration: none;
}

li a.dropdown:hover .dropbtn {
  background-color: #444;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #55d6aa;
  padding: 10px;
  text-decoration: none;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

/*
*---------------------------------------
* About page
*---------------------------------------
*/

.aboutContainer {
  font-family: arial;
  width: 80%;
  background: transparent;
  border-radius: 5px ;
  margin: 20px;
  margin-left:auto;
  margin-right:10;
  margin-top: 100px;
  color: #f98b03;
  min-height: 100%;
}

#aboutText {
  font-family: arial;
  width: 80%;
  background: transparent;
  border-radius: 5px ;
  margin: 20px;
  margin-left:auto;
  margin-right:10;
  margin-top: 100px;
}

/*
*---------------------------------------
* Contact Page
*---------------------------------------
*/

.contactContainer {
  font-family: arial;
  width: 80%;
  background: transparent;
  border-radius: 5px ;
  margin: 20px;
  margin-left:auto;
  margin-right:10;
  margin-top: 100px;
  color: #f98b03;
  min-height: 100%;
}

